html
{ height: 100%;}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 100%;
  background: hwb(0 95% 5% / 0.208);
}

*, html {
  --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
  --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --primary: #581B98;
}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h4, h5, h6 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #000;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h1 
{ font: normal 200% 'century gothic', arial, sans-serif;
  text-align: center;
}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;}

h3 {
  color: black;
  font: normal 175% 'century gothic', arial, sans-serif;
  text-align: center;
}
h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #000;}

a:hover
{ text-decoration: none;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: transparent;
  height: 202px;}

#logo
{ width: 898px;
  position: relative;
  height: 148px;
  border-bottom: 2px solid #060a52;}

#logo #logo_text 
{ position: absolute; 
  top: 20px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: -1px;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #000000;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #080808;}

#menubar
{ width: 898px;
  height: 52px;
  padding: 0;
  background: #000;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% arial, sans-serif;
  display: block; 
  float: left; 
  height: 17px;
  margin: 10px 0 0 10px;
  padding: 9px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: transparent url(transparent_light.png) repeat;}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
/* -----------------------------------------------
     Chatbot
     ---------------------------------------*/


     .ml-auto{
      margin-left:auto !important;
  }
  .mr-auto{
      margin-right:auto !important;
  }
  
  .col-md-10,.col-md-8,.col-md-4{
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
  }
  .col-md-8{flex:0 0 66.666667%;max-width:66.666667%}
  .col-md-4{flex:0 0 33.333333%;max-width:33.333333%}
  .col-md-10{flex:0 0 83.333333%;max-width:83.333333%}
  
  .form-control {
      background: no-repeat bottom,50% calc(100% - 1px);
      background-image: none, none;
      background-size: auto, auto;
      background-size: 0 100%,100% 100%;
      border: 0;
      height: 36px;
      transition: background 0s ease-out;
      padding-left: 0;
      padding-right: 0;
      border-radius: 0;
      font-size: 14px;
  }
  .form-control {
      display: block;
      width: 100%;
      padding: .4375rem 0;
      padding-right: 0px;
      padding-left: 0px;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      border:none;
      background-color: transparent;
      background-clip: padding-box;
      border-bottom: 1px solid #d2d2d2;
      box-shadow: none;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .btn {
      float: left;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      padding: .46875rem 1rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .btn-warning {
      color: #fff;
      background-color: #f08f00;
      border-color: #c27400;
  }
  .btn.btn-warning:active, .btn.btn-warning:focus, .btn.btn-warning:hover {
      box-shadow: 0 14px 26px -12px rgba(255,152,0,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(255,152,0,.2);
  }
  
  button, input, optgroup, select, textarea {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      overflow:visible;
  }
  #chatbox {
      background-color: cyan;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      min-height: 70px;
      margin-top: 60px;
  }
  
  #userInput {
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      margin-top: 60px;
  }
  
  #textInput {
      width: 87%;
      border: none;
      border-bottom: 3px solid #009688;
      font-family: monospace;
      font-size: 17px;
  }
  
  #buttonInput {
      padding: 3px;
      font-family: monospace;
      font-size: 17px;
  }
  
  .userText {
      color: white;
      font-family: monospace;
      font-size: 17px;
      text-align: right !important;
      line-height: 30px;
      margin: 5px;
  }
  
  .userText span {
      background-color: #009688;
      padding: 10px;
      border-radius: 2px;
  }
  
  .botText {
      color: white;
      font-family: monospace;
      font-size: 17px;
      text-align: left;
      line-height: 30px;
      margin: 5px;
  }
  
  .botText span {
      background-color: #ef5350;
      padding: 10px;
      border-radius: 2px;
  }
  
  #tidbit {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 300px;
  }

/* ------------------------
   Content styles
   ----------------------*/

#site_content
{ width: 854px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 0 24px 20px 20px;
  background: #FFF;} 

.sidebar
{ float: right;
  width: 210px;
  padding: 0 15px 20px 15px;}

.sidebar ul
{ width: 198px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url(link.png) no-repeat left center;} 

.sidebar li a.selected
{ color: #7E2451;
  text-decoration: none;} 

#content
{ text-align: left;
  float: left;
  width: 595px;
  padding: 0;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

  /* <!--- Footer ---> */ 
  footer {
    background-color: #314584;
    width: 100%;
    min-height: 100px;
    text-align: center;
    padding: 50px 0px 0px 0px;
    margin-top: 50px;
}

footer h5 {
    color: #fff;
    padding-bottom: 10px;
}

footer h3 {
    color: #FF3946;
    font-size: 3rem;
    margin-bottom: 30px;
}

.contact-nav li {
    display: inline;
    color: #fff;
}

.contact-nav a {
    color: #fff;
    font-size: 1.1rem;
    padding: 20px 20px;
}

.contact-nav a:hover {
    color: #FF3946;
}

footer h6 {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 20px;
}

.social li {
    display: inline;
}

.social li a {
    font-size: 2.7rem;
    color: #fff;
    margin: 0px 30px;
}

.social li a:hover {
    color: #FF3946;
    transition: all 0.3s ease;
}


#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: underline;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

#colours
{ height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;}
  
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #000; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #F0EFE2;
  color: #47433F;
  border-top: 1px solid #FFF;}


