{% extends "layout.html" %}
{% block title %}
Darknet Home
{% endblock %}
{% block content %}
<div id="py-5">
  <div class="containter my-5">    
    <div class="row justify-content-center">
          <div class="sidebar">
            <!-- insert your sidebar items here -->
            <h3>Latest News</h3>
            <h4>New Website Launched</h4>
            <p>2023 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
            <p></p>
            <ul>
              <li><a href="#">link 1</a></li>
              <li><a href="#">link 2</a></li>
              <li><a href="#">link 3</a></li>
              <li><a href="#">link 4</a></li>
            </ul>
            <h3>Search</h3>
            <form method="post" action="#" id="search_form">
              <p>
                <input class="search" type="text" name="search_field" value="Enter keywords....." />
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
              </p>
            </form>
          </div>
          <div id="content">
            <!-- insert the page content here -->
    <h1>Hive - $75</h1>
    <p>Presenting multiple options, we are gathering information to better represent and learn about our population.</p>
            <ul>
              <li>Section 1</li>
              <li>Product information</li>
              <li>information Systems and various data sources are included. Please leave feedback about your search
                and needs.</li>
            </ul>
          </div>
        </div>
      </div>
    <div class="container">
     <h1>Need Help?</h1>
      <form>
        <div id="chatbox">
          <div class="col-md-8 ml-auto mr-auto">
            <p class="botText"><span>Hi! Ask me anything.</span></p>
          </div>
        </div>
        <div id="userInput" class="row">
          <div class="col-md-10">
            <div id="chatlog"></div>
            <input id="text" type="text" name="msg" placeholder="Type your message here..." class="form-control">
            <button type="submit" id="send" class="btn btn-warning">
            Send</button>
            </div>
          </div>
        </div>
      </form>
    </div>
        

  
<script>
  $(document).ready(function() {
      $("form").on("submit", function(event) {
          var rawText = $("#text").val();
          var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
          $("#text").val("");
          $("#chatbox").append(userHtml);
          document.getElementById("userInput").scrollIntoView({
              block: "start",
              behavior: "smooth",
          });
          $.ajax({
              data: {
                  msg: rawText,
              },
              type: "POST",
              url: "/get",
          }).done(function(data) {
              var botHtml = '<p class="botText"><span>' + data + "</span></p>";
              $("#chatbox").append($.parseHTML(botHtml));
              document.getElementById("userInput").scrollIntoView({
                  block: "start",
                  behavior: "smooth",
              });
          });
          event.preventDefault();
      });
  });
</script>
<script>
  $('#submit').click(function() {
      $.ajax({
          type: 'POST',
          url: '/save_logs',
          data: JSON.stringify({'log': 'log message goes here'}),
          contentType: 'application/json',
          success: function(response) {
              console.log(response);
          },
          error: function(error) {
              console.log(error);
          }
      });
  });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}