{% extends "layout.html" %}
{% block title %}
Darknet Home
{% endblock %}
{% block content %}


      <!--========== PAGE LAYOUT ==========-->
   <!---   <div class="containter my-5">    
        <div class="row justify-content-center">
            <div class="sidebar">
              <form method="post" action="#" id="search_form">
                <p>
                  <input class="search" type="text" name="search_field" value="Enter keywords....." />
                  <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
                </p>
              </form>
            </div>
        </div>--->

<!-- Latest Products -->    
      <div class="content-lg container">
          <div class="row margin-b-40">
              <div class="col-sm-6">
                  <h2>Latest Products</h2>
                  <p>Discover the latest evolution and prepare.</p>
              </div>
          </div>
          <!--// end row -->

          <div class="row">
              <!-- Latest Products -->
              <div class="col-sm-4 sm-margin-b-50">
                  <div class="margin-b-20">
                      <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                          <img class="img" src="{{ url_for('static', filename='images/p1.jpg')}}" alt="Latest Products Image">
                      </div>
                  </div>
                  <h4><a href="#">Hive</a> <span class="text-uppercase margin-l-20">Uncover</span></h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
                  <a class="link" href="#">Discover More...</a>
              </div>
              <!-- End Latest Products -->

              <!-- Latest Products -->
              <div class="col-sm-4 sm-margin-b-50">
                  <div class="margin-b-20">
                      <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                          <img class="img" src="{{ url_for('static', filename='images/p3.jpg')}}" alt="Latest Products Image">
                      </div>
                  </div>
                  <h4><a href="#">Lockdown</a> <span class="text-uppercase margin-l-20">Recover</span></h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
                  <a class="link" href="#">Discover More...</a>
              </div>
              <!-- End Latest Products -->

              <!-- Latest Products -->
              <div class="col-sm-4 sm-margin-b-50">
                  <div class="margin-b-20">
                      <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                          <img class="img" src="{{ url_for('static', filename='images/p4.jpg')}}" alt="Latest Products Image">
                      </div>
                  </div>
                  <h4><a href="#">Wormware</a> <span class="text-uppercase margin-l-20">Deploy</span></h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incdidunt ut laboret dolor magna ut consequat siad esqudiat dolor</p>
                  <a class="link" href="#">Discover More...</a>
              </div>
              <!-- End Latest Products -->
          </div>
          <!--// end row -->
      </div>
      <!-- End Latest Products -->

      <!-- Pricing -->
      <div class="bg-color-sky-light">
          <div class="content-lg container">
              <div class="row row-space-1">
                  <div class="col-sm-4 sm-margin-b-2">
                      <!-- Pricing -->
                      <div class="pricing">
                          <div class="margin-b-30">
                              <i class="pricing-icon icon-chemistry"></i>
                              <h3>Starter Kit <span> - </span> $49</h3>
                              <p>Basic product use</p>
                          </div>
                          <ul class="list-unstyled pricing-list margin-b-50">
                              <li class="pricing-list-item">Basic Features</li>
                              <li class="pricing-list-item">One lifetime use</li>
                              <li class="pricing-list-item">50 Users</li>
                          </ul>
                          <a href="pricing.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>
                      </div>
                      <!-- End Pricing -->
                  </div>
                  <div class="col-sm-4 sm-margin-b-2">
                      <!-- Pricing -->
                      <div class="pricing pricing-active">
                          <div class="margin-b-30">
                              <i class="pricing-icon icon-badge"></i>
                              <h3>Professional <span> - </span> $149</h3>
                              <p>More advanced for multiple targets</p>
                          </div>
                          <ul class="list-unstyled pricing-list margin-b-50">
                              <li class="pricing-list-item">Extended Features</li>
                              <li class="pricing-list-item">Up to 100 products</li>
                              <li class="pricing-list-item">100 Users</li>
                          </ul>
                          <a href="pricing.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>
                      </div>
                      <!-- End Pricing -->
                  </div>
                  <div class="col-sm-4">
                      <!-- Pricing -->
                      <div class="pricing">
                          <div class="margin-b-30">
                              <i class="pricing-icon icon-shield"></i>
                              <h3>Advanced <span> - </span> $249</h3>
                              <p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                          </div>
                          <ul class="list-unstyled pricing-list margin-b-50">
                              <li class="pricing-list-item">Extended Features</li>
                              <li class="pricing-list-item">Unlimited products</li>
                              <li class="pricing-list-item">Unlimited Users Panels</li>
                          </ul>
                          <a href="pricing.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>
                      </div>
                      <!-- End Pricing -->
                  </div>
              </div>
              <!--// end row -->
          </div>
      </div>
      <!-- End Pricing -->

      <!-- Work -->
      <div class="bg-color-sky-light overflow-h">
          <div class="content-lg container">
              <div class="row margin-b-40">
                  <div class="col-sm-6">
                      <h2>Showcase</h2>
                      <p>Engage to find out more</p>
                  </div>
              </div>
              <!--// end row -->

              <!-- Masonry Grid -->
              <div class="masonry-grid">
                  <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                  <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8">
                      <!-- Work -->
                      <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
                          <div class="work-overlay">
                              <img class="full-width img-responsive" src="{{ url_for('static', filename='images/800x400/01.jpg')}}" alt="Portfolio Image">
                          </div>
                          <div class="work-content">
                              <h3 class="color-white margin-b-5">Art Of Coding</h3>
                              <p class="color-white margin-b-0">Placeholder</p>
                          </div>
                          <a class="content-wrapper-link" href="#"></a>
                      </div>
                      <!-- End Work -->
                  </div>
                  <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                      <!-- Work -->
                      <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".2s">
                          <div class="work-overlay">
                              <img class="full-width img-responsive" src="{{ url_for('static', filename='images/397x400/01.jpg')}}" alt="Portfolio Image">
                          </div>
                          <div class="work-content">
                              <h3 class="color-white margin-b-5">Clean Design</h3>
                              <p class="color-white margin-b-0">Placeholder</p>
                          </div>
                          <a class="content-wrapper-link" href="#"></a>
                      </div>
                      <!-- End Work -->
                  </div>
                  <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                      <!-- Work -->
                      <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".3s">
                          <div class="work-overlay">
                              <img class="full-width img-responsive" src="{{ url_for('static', filename='images/397x300/01.jpg')}}" alt="Portfolio Image">
                          </div>
                          <div class="work-content">
                              <h3 class="color-white margin-b-5">Clean Design</h3>
                              <p class="color-white margin-b-0">Placeholder</p>
                          </div>
                          <a class="content-wrapper-link" href="#"></a>
                      </div>
                      <!-- End Work -->
                  </div>
                  <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                      <!-- Work -->
                      <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".4s">
                          <div class="work-overlay">
                              <img class="full-width img-responsive" src="{{ url_for('static', filename='images/397x300/02.jpg')}}" alt="Portfolio Image">
                          </div>
                          <div class="work-content">
                              <h3 class="color-white margin-b-5">Clean Design</h3>
                              <p class="color-white margin-b-0">Placeholder</p>
                          </div>
                          <a class="content-wrapper-link" href="#"></a>
                      </div>
                      <!-- End Work -->
                  </div>
                  <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                      <!-- Work -->
                      <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".5s">
                          <div class="work-overlay">
                              <img class="full-width img-responsive" src="{{ url_for('static', filename='images/397x300/03.jpg')}}" alt="Portfolio Image">
                          </div>
                          <div class="work-content">
                              <h3 class="color-white margin-b-5">Clean Design</h3>
                              <p class="color-white margin-b-0">Placeholder</p>
                          </div>
                          <a class="content-wrapper-link" href="#"></a>
                      </div>
                      <!-- End Work -->
                  </div>
              </div>
              <!-- End Masonry Grid -->
          </div>
      </div>
      <!-- End Work -->

<!---Chatbot-->
<div class="content-lg container">
    <h1 align="center">Need Help?</h1>
      <form>
        <div id="chatbox">
          <div class="col-md-8 ml-auto mr-auto">
            <p class="botText"><span>Hi! Ask me anything.</span></p>
          </div>
        </div>
        <div id="userInput" class="row">
          <div class="col-md-10">
            <div id="chatlog"></div>
            <input id="text" type="text" name="msg" placeholder="Type your message here..." class="form-control">
            <button type="submit" id="send" class="btn btn-warning">
            Send</button>
            </div>
          </div>
        </div>
      </form>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>User Message</th>
            <th>Chatbot Response</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<!---End Chatbot-->

<!--========== END PAGE LAYOUT ==========-->

  
<script>
  $(document).ready(function() {
      $("form").on("submit", function(event) {
          var rawText = $("#text").val();
          var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
          $("#text").val("");
          $("#chatbox").append(userHtml);
          document.getElementById("userInput").scrollIntoView({
              block: "start",
              behavior: "auto",
          });
          $.ajax({
              data: {
                  msg: rawText,
              },
              type: "POST",
              url: "/get",
          }).done(function(data) {
              var botHtml = '<p class="botText"><span>' + data + "</span></p>";
              $("#chatbox").append($.parseHTML(botHtml));
              document.getElementById("userInput").scrollIntoView({
                  block: "start",
                  behavior: "auto",
              });
          });
          event.preventDefault();
      });
  });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}