<!DOCTYPE html>
<html>
    <head>
          <!--- Metas -->
        <meta charset="utf-8" http-equiv="content-type"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <!--- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!---Title--->
        <title>{% block title %}Ransomware{% endblock %}</title>
    </head>

<body>
<!--- Header Section-->
        <div id="main">
            <div id="header">
              <div id="logo">
                <div id="logo_text">
                  <!-- class="logo_colour", allows you to change the colour of the text -->
                  <h1><a href="{{ url_for('home') }}">Ransomware<span class="logo_colour"></span></a></h1>
                  <h2>Ransomware market</h2>
                </div>
              
               
              </div>
              <div id="menubar">
                <ul id="menu">
                  <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                  <li class="selected"><a href="{{ url_for('home') }}">Home</a></li>
                 <!--<li><a href="examples.html">Examples</a></li>
                  <li><a href="page.html">A Page</a></li>
                  <li><a href="another_page.html">Another Page</a></li>
                  <li><a href="contact.html">Contact Us</a></li>- -->
                </ul>
              </div>
            </div>

<!--- Content Section-->
        {% block content %}
   
{% endblock %}


<!-- FOOTER SECTION -->
{% include 'footer.html' %}



</body>
</html>